<configuration debug="true">

  <logger name="ooyala.common" level="INFO" />
  <logger name="spark.jobserver" level="INFO" />

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>D:\\spark-jobserver.log</file>

    <!-- truncate the logfile every time we start the app -->
    <append>false</append>

    <encoder>
      <pattern>[%date{ISO8601}] %-5level %logger{26} [%X{jobId}] [%X{akkaSource}] - %msg%n</pattern>
    </encoder>

  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
